<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkpIyoYEChIgPutv3dH-XYRmQvRutdQHI</string>
	<key>GCM_SENDER_ID</key>
	<string>746691816286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.codeStructure</string>
	<key>PROJECT_ID</key>
	<string>prime-tax-1f5fc</string>
	<key>STORAGE_BUCKET</key>
	<string>prime-tax-1f5fc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746691816286:ios:32a2c45e2ce77bfb127dcf</string>
</dict>
</plist>